
.no-scroll {
    overflow: hidden;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 50;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #047857;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 50;
}

.mobile-menu.show {
    display: flex;
}

.mobile-menu a {
    padding: 1rem;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.mobile-dropdown {
    background-color: #047857;
    border-radius: 0.5rem;
    padding: 0.5rem;
    max-height: 50vh;
    overflow-y: auto;
}

.mobile-dropdown a {
    display: block;
    padding: 0.75rem 1rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-dropdown .text-center {
    padding: 0.75rem 1rem;
    color: white;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-login-dropdown, .mobile-review-dropdown {
    background-color: #03523b;
    padding: 0.5rem;
    max-height: 50vh;
    overflow-y: auto;
}

.mobile-login-dropdown a, .mobile-review-dropdown a {
    display: block;
    padding: 0.75rem 1rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.mobile-login-dropdown a:last-child, .mobile-review-dropdown a:last-child {
    border-bottom: none;
    padding: 0;
    margin-bottom: 0;
}

.mobile-login-dropdown a:hover, .mobile-review-dropdown a:hover {
    background-color: #10B981;
    transform: scale(1.05);
}

.mobile-login-dropdown .text-center, .mobile-review-dropdown .text-center {
    padding: 0.75rem 1rem;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none !important;
    }

    .mobile-menu-button {
        display: none;
    }
}
